@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 15% 15%;
    --foreground: 240 10% 90%;

    --card: 240 15% 19%;
    --card-foreground: 240 10% 90%;

    --popover: 240 15% 15%;
    --popover-foreground: 240 10% 90%;

    --primary: 220 70% 72%;
    --primary-foreground: 0 0% 100%;

    --secondary: 230 100% 78%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 15% 19%;
    --muted-foreground: 240 5% 65%;

    --accent: 230 90% 85%;
    --accent-foreground: 240 15% 15%;

    --destructive: 0 70% 77%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 15% 19%;
    --input: 240 15% 19%;
    --ring: 220 70% 72%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 15% 15%;
    --foreground: 240 10% 90%;

    --card: 240 15% 19%;
    --card-foreground: 240 10% 90%;

    --popover: 240 15% 15%;
    --popover-foreground: 240 10% 90%;

    --primary: 220 70% 72%;
    --primary-foreground: 0 0% 100%;

    --secondary: 230 100% 78%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 15% 19%;
    --muted-foreground: 240 5% 65%;

    --accent: 230 90% 85%;
    --accent-foreground: 240 15% 15%;

    --destructive: 0 70% 77%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 15% 19%;
    --input: 240 15% 19%;
    --ring: 220 70% 72%;
  }

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
